Repository graphql-dotnet/server, pull requests merged in 2020-10, with the labels that each got.

#391 Replace Appveyor with GitHub Actions
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/label.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .github/workflows/wipcheck.yml
  Directory.Build.props
  GitVersion.yml
  appveyor.yml
  build.cake
  build.ps1
  build.sh
  samples/Samples.Schemas.Chat/Samples.Schemas.Chat.csproj
  samples/Samples.Server/Samples.Server.csproj
  src/Benchmarks/Benchmarks.csproj
  src/Core/Core.csproj
  src/Transports.Subscriptions.WebSockets/Transports.Subscriptions.WebSockets.csproj
  tests/Transports.Subscriptions.Abstractions.Tests/Transports.Subscriptions.Abstractions.Tests.csproj
  tests/Transports.Subscriptions.WebSockets.Tests/TestStartup.cs
  tests/Transports.Subscriptions.WebSockets.Tests/Transports.Subscriptions.WebSockets.Tests.csproj
  tools/packages.config
Labels: CI, performance

#372 Extensions for GraphQLRequest
  .editorconfig
  .github/labeler.yml
  .gitignore
  Directory.Build.props
  GraphQL.Server.sln
  Tests.props
  nuget.config
  samples/Samples.Schemas.Chat/Samples.Schemas.Chat.csproj
  samples/Samples.Server/Samples.Server.csproj
  src/Core/Common/GraphQLRequest.cs
  src/Core/GraphQLBuilderExtensions.cs
  src/Core/Internal/IGraphQLExecuter.cs
  src/Core/ServiceCollectionExtensions.cs
  src/Transports.AspNetCore.NewtonsoftJson/GraphQLRequestDeserializer.cs
  src/Transports.AspNetCore.NewtonsoftJson/InternalGraphQLRequest.cs
  src/Transports.AspNetCore.SystemTextJson/GraphQLRequestDeserializer.cs
  src/Transports.AspNetCore.SystemTextJson/InternalGraphQLRequest.cs
  src/Transports.AspNetCore.SystemTextJson/OperationMessageConverter.cs
  src/Transports.AspNetCore/ApplicationBuilderExtensions.cs
  src/Transports.AspNetCore/Common/IGraphQLRequestDeserializer.cs
  src/Ui.GraphiQL/GraphiQLMiddlewareExtensions.cs
  tests/Authorization.AspNetCore.Tests/Authorization.AspNetCore.Tests.csproj
  tests/Samples.Server.Tests/Samples.Server.Tests.csproj
  tests/Transports.Subscriptions.Abstractions.Tests/SubscriptionManagerFacts.cs
  tests/Transports.Subscriptions.Abstractions.Tests/Transports.Subscriptions.Abstractions.Tests.csproj
  tests/Transports.Subscriptions.WebSockets.Tests/Transports.Subscriptions.WebSockets.Tests.csproj
Labels: code style, enhancement, spec compliance, test

#424 Upload nuget packages as release artifacts
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Labels: CI
