Repository graphql-dotnet/server, pull requests merged in 2020-03, with the labels that each got.

#341 Add badges
  README.md
Labels: documentation

#342 bump version
  Directory.Build.props
  src/Core/GraphQLOptions.cs
  src/Core/Internal/DefaultGraphQLExecuter.cs
Labels: BREAKING, dependencies

#319 Add deserializer benchmarks
  GraphQL.Server.sln
  src/Benchmarks/Benchmarks.csproj
  src/Benchmarks/Benchmarks/DeserializeFromJsonBodyBenchmark.cs
  src/Benchmarks/Benchmarks/DeserializeInputsFromJsonBenchmark.cs
  src/Benchmarks/Program.cs
  src/Benchmarks/SchemaIntrospection.cs
  tests/Samples.Server.Tests/BaseTest.cs
  tests/Samples.Server.Tests/ResponseTests.cs
  tests/Samples.Server.Tests/Serializer.cs
Labels: enhancement

#340 add GraphQLHttpMiddleware docs
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
Labels: documentation

#348 bum version
  Directory.Build.props
Labels: dependencies

#349 Expose MaxParallelExecutionCount
  src/Core/GraphQLOptions.cs
  src/Core/Internal/DefaultGraphQLExecuter.cs
Labels: enhancement

#351 Change default graphiql path
  Directory.Build.props
  README.md
  samples/Samples.Server/Properties/launchSettings.json
  src/Ui.GraphiQL/GraphiQLOptions.cs
Labels: enhancement
