Repository graphql-dotnet/server, pull requests merged in 2020-02, with the labels that each got.

#315 Add .editorconfig aligned with one from graphql-dotnet
  .editorconfig
Labels: code style

#299 Async request stream deserialization with System.Text.Json
  Directory.Build.props
  GraphQL.Server.sln
  README.md
  appveyor.yml
  build.cake
  samples/Samples.Schemas.Chat/Samples.Schemas.Chat.csproj
  samples/Samples.Server/GraphQLHttpMiddlewareWithLogs.cs
  samples/Samples.Server/Samples.Server.csproj
  samples/Samples.Server/Startup.cs
  src/Authorization.AspNetCore/Authorization.AspNetCore.csproj
  src/Core/Common/GraphQLRequest.cs
  src/Core/Core.csproj
  src/Core/ServiceCollectionExtensions.cs
  src/Transports.AspNetCore.NewtonsoftJson/GraphQLBuilderExtensions.cs
  src/Transports.AspNetCore.NewtonsoftJson/GraphQLRequestDeserializer.cs
  src/Transports.AspNetCore.NewtonsoftJson/InternalGraphQLRequest.cs
  src/Transports.AspNetCore.NewtonsoftJson/Transports.AspNetCore.NewtonsoftJson.csproj
  src/Transports.AspNetCore.SystemTextJson/GraphQLBuilderExtensions.cs
  src/Transports.AspNetCore.SystemTextJson/GraphQLRequestDeserializer.cs
  src/Transports.AspNetCore.SystemTextJson/InternalGraphQLRequest.cs
  src/Transports.AspNetCore.SystemTextJson/Transports.AspNetCore.SystemTextJson.csproj
  src/Transports.AspNetCore/ApplicationBuilderExtensions.cs
  src/Transports.AspNetCore/Common/GraphQLRequest.cs
  src/Transports.AspNetCore/Common/GraphQLRequestDeserializationResult.cs
  src/Transports.AspNetCore/Common/GraphQLRequestExecutionResult.cs
  src/Transports.AspNetCore/Common/IGraphQLRequestDeserializer.cs
  src/Transports.AspNetCore/Common/MediaTypes.cs
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  src/Transports.AspNetCore/Transports.AspNetCore.csproj
  src/Transports.Subscriptions.Abstractions/SubscriptionManager.cs
  src/Transports.Subscriptions.Abstractions/Transports.Subscriptions.Abstractions.csproj
  src/Transports.Subscriptions.WebSockets/Transports.Subscriptions.WebSockets.csproj
  src/Transports.Subscriptions.WebSockets/WebSocketConnectionFactory.cs
  src/Transports.Subscriptions.WebSockets/WebSocketTransport.cs
  src/Transports.Subscriptions.WebSockets/WebSocketWriterPipeline.cs
  src/Ui.Altair/Internal/AltairPageModel.cs
  src/Ui.Altair/Ui.Altair.csproj
  src/Ui.GraphiQL/Internal/GraphiQLPageModel.cs
  src/Ui.GraphiQL/Ui.GraphiQL.csproj
  src/Ui.Playground/Internal/PlaygroundPageModel.cs
  src/Ui.Playground/Shared/Serializer.cs
  src/Ui.Playground/Ui.Playground.csproj
  src/Ui.Voyager/Internal/VoyagerPageModel.cs
  src/Ui.Voyager/Ui.Voyager.csproj
  tests/Authorization.AspNetCore.Tests/Authorization.AspNetCore.Tests.csproj
  tests/Samples.Server.Tests/BaseTest.cs
  tests/Samples.Server.Tests/RequestType.cs
  tests/Samples.Server.Tests/ResponseTests.cs
  tests/Samples.Server.Tests/Samples.Server.Tests.csproj
  tests/Samples.Server.Tests/Serializer.cs
  tests/Samples.Server.Tests/ShouldBeExtensions.cs
  tests/Transports.Subscriptions.Abstractions.Tests/Transports.Subscriptions.Abstractions.Tests.csproj
  tests/Transports.Subscriptions.WebSockets.Tests/Transports.Subscriptions.WebSockets.Tests.csproj
  tests/Transports.Subscriptions.WebSockets.Tests/WebSocketWriterPipelineTests.cs
  tests/Transports.Subscriptions.WebSockets.Tests/WebSocketsConnectionFacts.cs
Labels: enhancement

#316 bump preview version
  Directory.Build.props
Labels: dependencies

#322 Field name should begin with _
  .editorconfig
Labels: code style

#321 fix subscriptions regression on S.T.J
  Directory.Build.props
  src/Transports.AspNetCore.SystemTextJson/GraphQLBuilderExtensions.cs
  src/Transports.AspNetCore.SystemTextJson/OperationMessageConverter.cs
  src/Transports.AspNetCore.SystemTextJson/Transports.AspNetCore.SystemTextJson.csproj
  src/Transports.Subscriptions.Abstractions/OperationMessage.cs
Labels: bugfix

#317 Apply editorconfig
  samples/Samples.Schemas.Chat/ChatSubscriptions.cs
  samples/Samples.Schemas.Chat/IChat.cs
  samples/Samples.Server/Startup.cs
  src/Authorization.AspNetCore/AuthorizationMetadataExtensions.cs
  src/Authorization.AspNetCore/AuthorizationValidationRule.cs
  src/Authorization.AspNetCore/GraphQLAuthorizeAttribute.cs
  src/Core/Common/GraphQLRequest.cs
  src/Core/GraphQLBuilderExtensions.cs
  src/Core/ServiceCollectionExtensions.cs
  src/Transports.AspNetCore.NewtonsoftJson/GraphQLRequestDeserializer.cs
  src/Transports.AspNetCore.NewtonsoftJson/InternalGraphQLRequest.cs
  src/Transports.AspNetCore.SystemTextJson/InternalGraphQLRequest.cs
  src/Transports.AspNetCore/ApplicationBuilderExtensions.cs
  src/Transports.AspNetCore/Common/MediaTypes.cs
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  src/Transports.AspNetCore/Internal/UserContextBuilder.cs
  src/Transports.Subscriptions.Abstractions/LogMessagesListener.cs
  src/Transports.Subscriptions.Abstractions/MessageHandlingContext.cs
  src/Transports.Subscriptions.Abstractions/OperationMessage.cs
  src/Transports.Subscriptions.Abstractions/ProtocolMessageListener.cs
  src/Transports.Subscriptions.Abstractions/Subscription.cs
  src/Transports.Subscriptions.Abstractions/SubscriptionManager.cs
  src/Transports.Subscriptions.Abstractions/SubscriptionServer.cs
  src/Transports.Subscriptions.WebSockets/GraphQLWebSocketsExtensions.cs
  src/Transports.Subscriptions.WebSockets/WebSocketReaderPipeline.cs
  src/Transports.Subscriptions.WebSockets/WebSocketWriterPipeline.cs
  src/Transports.Subscriptions.WebSockets/WebsocketWriterStream.cs
  src/Ui.Altair/AltairExtensions.cs
  src/Ui.Altair/AltairMiddleware.cs
  src/Ui.GraphiQL/GraphiQLMiddleware.cs
  src/Ui.GraphiQL/GraphiQLMiddlewareExtensions.cs
  src/Ui.Playground/PlaygroundExtensions.cs
  src/Ui.Playground/PlaygroundMiddleware.cs
  src/Ui.Voyager/VoyagerExtensions.cs
  src/Ui.Voyager/VoyagerMiddleware.cs
  tests/Authorization.AspNetCore.Tests/AuthorizationValidationRuleTests.cs
  tests/Authorization.AspNetCore.Tests/ValidationTestBase.cs
  tests/Samples.Server.Tests/BaseTest.cs
  tests/Samples.Server.Tests/ResponseTests.cs
  tests/Samples.Server.Tests/Serializer.cs
  tests/Transports.Subscriptions.Abstractions.Tests/OperationMessageCollectorListener.cs
  tests/Transports.Subscriptions.Abstractions.Tests/ProtocolHandlerFacts.cs
  tests/Transports.Subscriptions.Abstractions.Tests/Specs/ChatSpec.cs
  tests/Transports.Subscriptions.Abstractions.Tests/SubscriptionFacts.cs
  tests/Transports.Subscriptions.Abstractions.Tests/SubscriptionManagerFacts.cs
  tests/Transports.Subscriptions.Abstractions.Tests/TestableSubscriptionTransport.cs
  tests/Transports.Subscriptions.WebSockets.Tests/TestWebSocket.cs
  tests/Transports.Subscriptions.WebSockets.Tests/WebSocketWriterPipelineTests.cs
  tests/Transports.Subscriptions.WebSockets.Tests/WebSocketsConnectionFacts.cs
Labels: code style

#327 Sync with FieldMiddleware changes in graphql-dotnet repo
  Directory.Build.props
  samples/Samples.Schemas.Chat/ChatSchema.cs
  src/Core/ServiceCollectionExtensions.cs
  tests/Transports.Subscriptions.Abstractions.Tests/Specs/ChatSpec.cs
Labels: dependencies, enhancement

#326 Add GraphQL Playground HTTP headers
  samples/Samples.Server/Startup.cs
  src/Ui.Playground/GraphQLPlaygroundOptions.cs
  src/Ui.Playground/Internal/PlaygroundPageModel.cs
  src/Ui.Playground/Internal/playground.cshtml
Labels: enhancement

#290 Add AuthorizeWith support off ConnectionBuilder
  src/Authorization.AspNetCore/AuthorizationMetadataExtensions.cs
  tests/Authorization.AspNetCore.Tests/AuthorizationValidationRuleTests.cs
Labels: enhancement

#324 Consolidate AddGraphQL extensions
  GraphQL.Server.sln
  src/Core/GraphQLOptions.cs
  src/Core/ServiceCollectionExtensions.cs
Labels: bugfix

#328 Add headers to voyager
  samples/Samples.Server/Startup.cs
  src/Ui.Altair/GraphQLAltairOptions.cs
  src/Ui.Altair/Internal/AltairPageModel.cs
  src/Ui.Altair/Internal/altair.cshtml
  src/Ui.Playground/GraphQLPlaygroundOptions.cs
  src/Ui.Voyager/GraphQLVoyagerOptions.cs
  src/Ui.Voyager/Internal/VoyagerPageModel.cs
  src/Ui.Voyager/Internal/voyager.cshtml
  src/Ui.Voyager/Ui.Voyager.csproj
Labels: enhancement

#330 bump graphql-dotnet version
  Directory.Build.props
  tests/Authorization.AspNetCore.Tests/AuthorizationValidationRuleTests.cs
  tests/Transports.Subscriptions.WebSockets.Tests/Transports.Subscriptions.WebSockets.Tests.csproj
  tests/Transports.Subscriptions.WebSockets.Tests/WebSocketWriterPipelineTests.cs
Labels: dependencies

#325 Add playground types settings
  samples/Samples.Server/Startup.cs
  src/Ui.Playground/GraphQLPlaygroundOptions.cs
  tests/Transports.Subscriptions.WebSockets.Tests/WebSocketsConnectionFacts.cs
Labels: enhancement

#323 Remove ConfigureAwait(false)
  src/Authorization.AspNetCore/AuthorizationValidationRule.cs
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  src/Transports.Subscriptions.WebSockets/GraphQLWebSocketsMiddleware.cs
  src/Transports.Subscriptions.WebSockets/WebSocketConnection.cs
  src/Transports.Subscriptions.WebSockets/WebSocketReaderPipeline.cs
  src/Transports.Subscriptions.WebSockets/WebSocketWriterPipeline.cs
  tests/Transports.Subscriptions.WebSockets.Tests/WebSocketsConnectionFacts.cs
Labels: enhancement

#332 bump
  Directory.Build.props
Labels: dependencies

#337 fix readme
  README.md
Labels: bugfix, documentation

#338 more info in readme
  README.md
Labels: documentation
