Repository graphql-dotnet/server, pull requests merged in 2020-09, with the labels that each got.

#386 Prepare to 4.0.0 release
  Directory.Build.props
  GraphQL.Server.sln
  README.md
  appveyor.yml
  build.cake
  src/Core/Internal/DefaultGraphQLExecuter.cs
  src/Core/Internal/IGraphQLExecuter.cs
  src/Transports.AspNetCore.SystemTextJson/Transports.AspNetCore.SystemTextJson.csproj
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  src/Transports.Subscriptions.Abstractions/SubscriptionManager.cs
  tests/Transports.Subscriptions.Abstractions.Tests/ProtocolHandlerFacts.cs
  tests/Transports.Subscriptions.Abstractions.Tests/SubscriptionManagerFacts.cs
  tests/Transports.Subscriptions.Abstractions.Tests/SubscriptionServerFacts.cs
Labels: dependencies, enhancement

#396 Fix GraphQL dependency version
  Directory.Build.props
Labels: dependencies

#398 Error code and number for AuthorizationValidationRule
  src/Authorization.AspNetCore/AuthorizationValidationRule.cs
Labels: bugfix
