Repository graphql-dotnet/server, pull requests merged in 2020-11, with the labels that each got.

#425 Add api approval tests
  .github/labeler.yml
  Directory.Build.props
  GraphQL.Server.sln
  src/Benchmarks/Benchmarks.csproj
  tests/ApiApprovalTests/ApiApprovalTests.cs
  tests/ApiApprovalTests/ApiApprovalTests.csproj
  tests/ApiApprovalTests/GraphQL.Server.Authorization.AspNetCore.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Core.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.NewtonsoftJson.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.SystemTextJson.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.Subscriptions.Abstractions.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.WebSockets.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Ui.Altair.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Ui.GraphiQL.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Ui.Playground.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Ui.Voyager.approved.txt
Labels: performance, test

#427 netcoreapp3.1 only
  .editorconfig
  .github/workflows/test.yml
  Directory.Build.props
  README.md
  Tests.props
  samples/Samples.Schemas.Chat/Samples.Schemas.Chat.csproj
  samples/Samples.Server/Program.cs
  samples/Samples.Server/Samples.Server.csproj
  samples/Samples.Server/Startup.cs
  src/Authorization.AspNetCore/Authorization.AspNetCore.csproj
  src/Authorization.AspNetCore/GraphQLBuilderExtensions.cs
  src/Benchmarks/Benchmarks.csproj
  src/Core/Core.csproj
  src/Transports.AspNetCore.NewtonsoftJson/Transports.AspNetCore.NewtonsoftJson.csproj
  src/Transports.AspNetCore.SystemTextJson/Transports.AspNetCore.SystemTextJson.csproj
  src/Transports.AspNetCore/Transports.AspNetCore.csproj
  src/Transports.Subscriptions.Abstractions/Transports.Subscriptions.Abstractions.csproj
  src/Transports.Subscriptions.WebSockets/Transports.Subscriptions.WebSockets.csproj
  src/Ui.Altair/Internal/AltairPageModel.cs
  src/Ui.Altair/Ui.Altair.csproj
  src/Ui.GraphiQL/Ui.GraphiQL.csproj
  src/Ui.Playground/Internal/PlaygroundPageModel.cs
  src/Ui.Playground/Shared/Serializer.cs
  src/Ui.Playground/Ui.Playground.csproj
  src/Ui.Voyager/Internal/VoyagerPageModel.cs
  src/Ui.Voyager/Ui.Voyager.csproj
  tests/Authorization.AspNetCore.Tests/Authorization.AspNetCore.Tests.csproj
  tests/Samples.Server.Tests/BaseTest.cs
  tests/Samples.Server.Tests/DITest.cs
  tests/Samples.Server.Tests/ResponseTests.cs
  tests/Samples.Server.Tests/Samples.Server.Tests.csproj
  tests/Samples.Server.Tests/Serializer.cs
  tests/Transports.Subscriptions.Abstractions.Tests/Transports.Subscriptions.Abstractions.Tests.csproj
  tests/Transports.Subscriptions.WebSockets.Tests/Transports.Subscriptions.WebSockets.Tests.csproj
  tests/Transports.Subscriptions.WebSockets.Tests/WebSocketsConnectionFacts.cs
Labels: CI, code style, documentation, performance, test

#428 Fix ArgumentNullException in AddNewtonsoftJson
  src/Transports.AspNetCore.NewtonsoftJson/GraphQLBuilderExtensions.cs
  src/Transports.AspNetCore.SystemTextJson/GraphQLBuilderExtensions.cs
Labels: bugfix

#429 fix CI path
  .github/workflows/publish.yml
Labels: CI

#431 Do not test on README changes
  .github/workflows/test.yml
  README.md
Labels: CI, documentation

#432 Readme tweaks
  .github/workflows/test.yml
  README.md
Labels: CI, documentation

#433 Fix typo
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  README.md
Labels: CI, documentation

#434 Trigger CI without tests
  README.md
Labels: documentation

#435 Add GraphQLHttpMiddleware.RequestExecutingAsync
  Directory.Build.props
  src/Transports.AspNetCore/Common/GraphQLRequestExecutionResult.cs
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.approved.txt
Labels: enhancement

#436 Fix path and warning
  .github/workflows/publish.yml
  Directory.Build.props
Labels: CI

#437 Readme tweaks
  README.md
Labels: documentation

#438 Merge master into develop
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  Directory.Build.props
  README.md
  src/Transports.AspNetCore/Common/GraphQLRequestExecutionResult.cs
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.approved.txt
Labels: CI, documentation, test

#334 Project reorganization
  Directory.Build.props
  samples/Samples.Server/GraphQLHttpMiddlewareWithLogs.cs
  src/Authorization.AspNetCore/Authorization.AspNetCore.csproj
  src/Authorization.AspNetCore/AuthorizationMetadataExtensions.cs
  src/Authorization.AspNetCore/AuthorizationValidationRule.cs
  src/Benchmarks/Benchmarks/DeserializeFromJsonBodyBenchmark.cs
  src/Core/Core.csproj
  src/Core/DefaultGraphQLExecuter.cs
  src/Core/Extensions/GraphQLBuilderExtensions.cs
  src/Core/Extensions/ServiceCollectionExtensions.cs
  src/Core/GraphQLBuilder.cs
  src/Core/GraphQLOptions.cs
  src/Core/GraphQLRequest.cs
  src/Core/IGraphQLExecuter.cs
  src/Transports.AspNetCore.NewtonsoftJson/GraphQLBuilderExtensions.cs
  src/Transports.AspNetCore.NewtonsoftJson/GraphQLRequestDeserializer.cs
  src/Transports.AspNetCore.NewtonsoftJson/InternalGraphQLRequest.cs
  src/Transports.AspNetCore.NewtonsoftJson/Transports.AspNetCore.NewtonsoftJson.csproj
  src/Transports.AspNetCore.SystemTextJson/GraphQLBuilderExtensions.cs
  src/Transports.AspNetCore.SystemTextJson/GraphQLRequestDeserializer.cs
  src/Transports.AspNetCore.SystemTextJson/InternalGraphQLRequest.cs
  src/Transports.AspNetCore.SystemTextJson/Transports.AspNetCore.SystemTextJson.csproj
  src/Transports.AspNetCore/Extensions/ApplicationBuilderExtensions.cs
  src/Transports.AspNetCore/Extensions/GraphQLBuilderExtensions.cs
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  src/Transports.AspNetCore/GraphQLRequestDeserializationResult.cs
  src/Transports.AspNetCore/GraphQLRequestExecutionResult.cs
  src/Transports.AspNetCore/IGraphQLRequestDeserializer.cs
  src/Transports.AspNetCore/MediaTypes.cs
  src/Transports.AspNetCore/Transports.AspNetCore.csproj
  src/Transports.AspNetCore/UserContextBuilder.cs
  src/Transports.Subscriptions.Abstractions/SubscriptionManager.cs
  src/Transports.Subscriptions.Abstractions/Transports.Subscriptions.Abstractions.csproj
  src/Transports.Subscriptions.WebSockets/Extensions/GraphQLBuilderExtensions.cs
  src/Transports.Subscriptions.WebSockets/Extensions/GraphQLWebSocketsExtensions.cs
  src/Transports.Subscriptions.WebSockets/Transports.Subscriptions.WebSockets.csproj
  src/Transports.Subscriptions.WebSockets/WebSocketConnectionFactory.cs
  src/Ui.Altair/Ui.Altair.csproj
  src/Ui.GraphiQL/Ui.GraphiQL.csproj
  src/Ui.Playground/Ui.Playground.csproj
  src/Ui.Voyager/Ui.Voyager.csproj
  tests/ApiApprovalTests/ApiApprovalTests.cs
  tests/ApiApprovalTests/GraphQL.Server.Core.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.NewtonsoftJson.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.SystemTextJson.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.Subscriptions.Abstractions.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.Subscriptions.WebSockets.approved.txt
  tests/Samples.Server.Tests/BaseTest.cs
  tests/Samples.Server.Tests/ResponseTests.cs
  tests/Samples.Server.Tests/Serializer.cs
  tests/Transports.Subscriptions.Abstractions.Tests/ProtocolHandlerFacts.cs
  tests/Transports.Subscriptions.Abstractions.Tests/Specs/ChatSpec.cs
  tests/Transports.Subscriptions.Abstractions.Tests/SubscriptionManagerFacts.cs
  tests/Transports.Subscriptions.Abstractions.Tests/SubscriptionServerFacts.cs
  tests/Transports.Subscriptions.Abstractions.Tests/Transports.Subscriptions.Abstractions.Tests.csproj
  tests/Transports.Subscriptions.WebSockets.Tests/Transports.Subscriptions.WebSockets.Tests.csproj
Labels: BREAKING, code style, documentation, enhancement, needs review, performance, test

#440 Rework of all middlewares
  README.md
  samples/Samples.Server/GraphQLHttpMiddlewareWithLogs.cs
  samples/Samples.Server/Startup.cs
  samples/Samples.Server/StartupWithRouting.cs
  src/Transports.AspNetCore/Extensions/GraphQLBuilderExtensions.cs
  src/Transports.AspNetCore/Extensions/GraphQLHttpApplicationBuilderExtensions.cs
  src/Transports.AspNetCore/Extensions/GraphQLHttpEndpointRouteBuilderExtensions.cs
  src/Transports.AspNetCore/GraphQLDefaultEndpointSelectorPolicy.cs
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  src/Transports.Subscriptions.WebSockets/Extensions/GraphQLWebSocketsApplicationBuilderExtensions.cs
  src/Transports.Subscriptions.WebSockets/Extensions/GraphQLWebSocketsEndpointRouteBuilderExtensions.cs
  src/Transports.Subscriptions.WebSockets/GraphQLWebSocketsMiddleware.cs
  src/Ui.Altair/AltairExtensions.cs
  src/Ui.Altair/AltairMiddleware.cs
  src/Ui.Altair/AltairOptions.cs
  src/Ui.Altair/Extensions/AltairApplicationBuilderExtensions.cs
  src/Ui.Altair/Extensions/AltairEndpointRouteBuilderExtensions.cs
  src/Ui.Altair/Internal/AltairPageModel.cs
  src/Ui.Altair/Internal/altair.cshtml
  src/Ui.Altair/Ui.Altair.csproj
  src/Ui.GraphiQL/Extensions/GraphiQLApplicationBuilderExtensions.cs
  src/Ui.GraphiQL/Extensions/GraphiQLEndpointRouteBuilderExtensions.cs
  src/Ui.GraphiQL/GraphiQLMiddleware.cs
  src/Ui.GraphiQL/GraphiQLMiddlewareExtensions.cs
  src/Ui.GraphiQL/GraphiQLOptions.cs
  src/Ui.GraphiQL/Internal/GraphiQLPageModel.cs
  src/Ui.GraphiQL/Internal/graphiql.cshtml
  src/Ui.Playground/Extensions/PlaygroundApplicationBuilderExtensions.cs
  src/Ui.Playground/Extensions/PlaygroundEndpointRouteBuilderExtensions.cs
  src/Ui.Playground/Internal/PlaygroundPageModel.cs
  src/Ui.Playground/Internal/playground.cshtml
  src/Ui.Playground/PlaygroundExtensions.cs
  src/Ui.Playground/PlaygroundMiddleware.cs
  src/Ui.Playground/PlaygroundOptions.cs
  src/Ui.Voyager/Extensions/VoyagerApplicationBuilderExtensions.cs
  src/Ui.Voyager/Extensions/VoyagerEndpointRouteBuilderExtensions.cs
  src/Ui.Voyager/Internal/VoyagerPageModel.cs
  src/Ui.Voyager/Ui.Voyager.csproj
  src/Ui.Voyager/VoyagerExtensions.cs
  src/Ui.Voyager/VoyagerMiddleware.cs
  src/Ui.Voyager/VoyagerOptions.cs
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.Subscriptions.WebSockets.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Ui.Altair.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Ui.GraphiQL.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Ui.Playground.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Ui.Voyager.approved.txt
Labels: BREAKING, documentation, enhancement, test

#455 Replaced GraphiQL with GraphiQLWithExtensions
  src/Ui.GraphiQL/Internal/graphiql.cshtml
Labels: enhancement

#461 Rename all GraphQLBuilderExtensions classes to unique names
  src/Authorization.AspNetCore/GraphQLBuilderAuthorizationExtensions.cs
  src/Core/Extensions/GraphQLBuilderCoreExtensions.cs
  src/Transports.AspNetCore.NewtonsoftJson/GraphQLBuilderNewtonsoftJsonExtensions.cs
  src/Transports.AspNetCore.SystemTextJson/GraphQLBuilderSystemTextJsonExtensions.cs
  src/Transports.AspNetCore/Extensions/GraphQLBuilderUserContextExtensions.cs
  src/Transports.Subscriptions.WebSockets/Extensions/GraphQLBuilderWebSocketsExtensions.cs
  tests/ApiApprovalTests/GraphQL.Server.Authorization.AspNetCore.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Core.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.NewtonsoftJson.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.SystemTextJson.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.Subscriptions.WebSockets.approved.txt
Labels: BREAKING
