Repository graphql-dotnet/server, pull requests merged in 2020-12, with the labels that each got.

#462 GitHub Security Lab (GHSL) Vulnerability Report: GHSL-2020-231
  .github/workflows/wipcheck.yml
  Directory.Build.props
Labels: CI

#470 Enable calling AuthorizeWith() on a Schema directly
  Directory.Build.props
  src/Authorization.AspNetCore/AuthorizationMetadataExtensions.cs
  src/Authorization.AspNetCore/AuthorizationValidationRule.cs
  tests/ApiApprovalTests/GraphQL.Server.Authorization.AspNetCore.approved.txt
  tests/Authorization.AspNetCore.Tests/AuthorizationValidationRuleTests.cs
  tests/Authorization.AspNetCore.Tests/ValidationTestBase.cs
  tests/Authorization.AspNetCore.Tests/ValidationTestConfig.cs
Labels: enhancement, test

#208 Allow injection of ClaimsPrincipal into AuthorizationValidationRule
  src/Authorization.AspNetCore/AuthorizationValidationRule.cs
  src/Authorization.AspNetCore/DefaultClaimsPrincipalAccessor.cs
  src/Authorization.AspNetCore/GraphQLBuilderAuthorizationExtensions.cs
  src/Authorization.AspNetCore/IClaimsPrincipalAccessor.cs
  tests/ApiApprovalTests/GraphQL.Server.Authorization.AspNetCore.approved.txt
  tests/Authorization.AspNetCore.Tests/ValidationTestBase.cs
Labels: BREAKING, enhancement
