Repository graphql-dotnet/server, pull requests merged in 2021-11, with the labels that each got.

#632 docs: update authorization section
  README.md
Labels: documentation

#644 Run tests on props/targets changes
  .github/workflows/test.yml
Labels: CI

#651 Review for #581
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  src/Transports.AspNetCore/GraphQLRequestDeserializationException.cs
  src/Transports.AspNetCore/GraphQLRequestDeserializationResult.cs
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.approved.txt
Labels: enhancement

#653 Use SubscriptionDocumentExecuter by default
  src/Core/Core.csproj
  src/Core/Extensions/ServiceCollectionExtensions.cs
Labels: bugfix

#652 UI customization
  Directory.Build.props
  README.md
  src/Ui.Altair/AltairMiddleware.cs
  src/Ui.Altair/AltairOptions.cs
  src/Ui.Altair/Internal/AltairPageModel.cs
  src/Ui.Altair/Ui.Altair.csproj
  src/Ui.GraphiQL/GraphiQLMiddleware.cs
  src/Ui.GraphiQL/GraphiQLOptions.cs
  src/Ui.GraphiQL/Internal/GraphiQLPageModel.cs
  src/Ui.GraphiQL/Ui.GraphiQL.csproj
  src/Ui.Playground/Internal/PlaygroundPageModel.cs
  src/Ui.Playground/PlaygroundMiddleware.cs
  src/Ui.Playground/PlaygroundOptions.cs
  src/Ui.Playground/Ui.Playground.csproj
  src/Ui.Voyager/Internal/VoyagerPageModel.cs
  src/Ui.Voyager/Ui.Voyager.csproj
  src/Ui.Voyager/VoyagerMiddleware.cs
  src/Ui.Voyager/VoyagerOptions.cs
  tests/ApiApprovalTests/GraphQL.Server.Ui.Altair.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Ui.GraphiQL.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Ui.Playground.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Ui.Voyager.approved.txt
Labels: documentation, test

#656 Fix content-type bug
  src/Ui.Playground/Internal/PlaygroundPageModel.cs
Labels: bugfix
