Repository graphql-dotnet/server, pull requests merged in 2021-03, with the labels that each got.

#518 Use GraphQL version 4.0.0
  samples/Samples.Schemas.Chat/ChatSubscriptions.cs
  samples/Samples.Schemas.Chat/Samples.Schemas.Chat.csproj
  src/Authorization.AspNetCore/AuthorizationError.cs
  src/Authorization.AspNetCore/AuthorizationValidationRule.cs
  src/Core/Core.csproj
  src/Core/DefaultGraphQLExecuter.cs
  src/Core/GraphQLOptions.cs
  src/Transports.AspNetCore.NewtonsoftJson/Transports.AspNetCore.NewtonsoftJson.csproj
  src/Transports.AspNetCore.SystemTextJson/Transports.AspNetCore.SystemTextJson.csproj
  src/Transports.Subscriptions.Abstractions/Transports.Subscriptions.Abstractions.csproj
  src/Transports.Subscriptions.WebSockets/Transports.Subscriptions.WebSockets.csproj
  tests/ApiApprovalTests/GraphQL.Server.Core.approved.txt
  tests/Authorization.AspNetCore.Tests/ValidationTestBase.cs
  tests/Samples.Server.Tests/Samples.Server.Tests.csproj
  tests/Transports.Subscriptions.Abstractions.Tests/Specs/ChatSpec.cs
  tests/Transports.Subscriptions.Abstractions.Tests/Transports.Subscriptions.Abstractions.Tests.csproj
  tests/Transports.Subscriptions.WebSockets.Tests/Transports.Subscriptions.WebSockets.Tests.csproj
  tests/Transports.Subscriptions.WebSockets.Tests/WebSocketWriterPipelineTests.cs
Labels: BREAKING, dependencies, test

#522 Delete AuthorizationMetadataExtensions
  src/Authorization.AspNetCore/AuthorizationMetadataExtensions.cs
  tests/ApiApprovalTests/GraphQL.Server.Authorization.AspNetCore.approved.txt
Labels: BREAKING, test

#524 Bump GraphQL.NET
  README.md
  src/All/All.csproj
  src/Core/Core.csproj
  src/Transports.AspNetCore.NewtonsoftJson/Transports.AspNetCore.NewtonsoftJson.csproj
  src/Transports.AspNetCore.SystemTextJson/Transports.AspNetCore.SystemTextJson.csproj
  src/Transports.Subscriptions.Abstractions/Transports.Subscriptions.Abstractions.csproj
Labels: documentation

#528 Small fixes
  Directory.Build.props
  README.md
  src/Authorization.AspNetCore/AuthorizationValidationRule.cs
  src/Authorization.AspNetCore/IClaimsPrincipalAccessor.cs
Labels: documentation

#529 Fix CI to send coverage results on push
  .github/workflows/test.yml
  src/Authorization.AspNetCore/AuthorizationError.cs
  tests/Authorization.AspNetCore.Tests/AuthorizationValidationRuleTests.cs
Labels: CI, test

#531 Bump GraphQL.NET dependency from 4.0.2 to 4.1.0
  README.md
  src/All/All.csproj
  src/Core/Core.csproj
  src/Transports.AspNetCore.NewtonsoftJson/Transports.AspNetCore.NewtonsoftJson.csproj
  src/Transports.AspNetCore.SystemTextJson/Transports.AspNetCore.SystemTextJson.csproj
  src/Transports.Subscriptions.Abstractions/Transports.Subscriptions.Abstractions.csproj
Labels: dependencies, documentation
