Repository graphql-dotnet/server, pull requests merged in 2021-01, with the labels that each got.

#483 Add CodeQL analysis and dotnet-format
  .editorconfig
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/label.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  Directory.Build.props
  GraphQL.Server.sln
  README.md
  src/Ui.Altair/AltairMiddleware.cs
  src/Ui.GraphiQL/GraphiQLMiddleware.cs
  src/Ui.Playground/PlaygroundMiddleware.cs
  src/Ui.Voyager/VoyagerMiddleware.cs
  tests/Authorization.AspNetCore.Tests/AuthorizationValidationRuleTests.cs
Labels: CI, code style, documentation, test

#480 Add AuthorizationError (pickup of #479)
  samples/Samples.Server/CustomErrorInfoProvider.cs
  samples/Samples.Server/MinimumAgeRequirement.cs
  samples/Samples.Server/Samples.Server.csproj
  samples/Samples.Server/Startup.cs
  src/Authorization.AspNetCore/AuthorizationError.cs
  src/Authorization.AspNetCore/AuthorizationValidationRule.cs
  src/Core/DefaultErrorInfoProvider.cs
  src/Core/Extensions/GraphQLBuilderCoreExtensions.cs
  tests/ApiApprovalTests/GraphQL.Server.Authorization.AspNetCore.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Core.approved.txt
Labels: enhancement, new API

#489 Handling extensions property from querystring and application/x-www-form-urlencoded
  Directory.Build.props
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
Labels: bugfix
