Repository graphql-dotnet/server, pull requests merged in 2021-12, with the labels that each got.

#662 CodeQL support
  .github/workflows/codeql-analysis.yml
Labels: CI

#645 Update LICENSE.md
  LICENSE.md
Labels: documentation

#664 Configure codecov to post fresh coverage comment
  .github/codecov.yml
  .github/labeler.yml
  .github/workflows/test.yml
  GraphQL.Server.sln
Labels: CI

#671 Dispose of WebSocket when done with it
  src/Transports.Subscriptions.WebSockets/WebSocketConnection.cs
  src/Transports.Subscriptions.WebSockets/WebSocketTransport.cs
  tests/ApiApprovalTests/GraphQL.Server.Transports.Subscriptions.WebSockets.approved.txt
Labels: test

#665 NET6 support, embedded readme
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  Directory.Build.props
  Tests.props
  samples/Samples.Server/Samples.Server.csproj
  src/All/All.csproj
  src/Authorization.AspNetCore/Authorization.AspNetCore.csproj
  src/Benchmarks/Benchmarks.csproj
  src/Transports.AspNetCore.NewtonsoftJson/Transports.AspNetCore.NewtonsoftJson.csproj
  src/Transports.AspNetCore.SystemTextJson/Transports.AspNetCore.SystemTextJson.csproj
  src/Transports.AspNetCore/Transports.AspNetCore.csproj
  src/Transports.Subscriptions.WebSockets/Transports.Subscriptions.WebSockets.csproj
  src/Ui.Altair/Ui.Altair.csproj
  src/Ui.GraphiQL/Ui.GraphiQL.csproj
  src/Ui.Playground/Ui.Playground.csproj
  src/Ui.Voyager/Ui.Voyager.csproj
  tests/ApiApprovalTests/ApiApprovalTests.csproj
  tests/Authorization.AspNetCore.Tests/Authorization.AspNetCore.Tests.csproj
  tests/Samples.Server.Tests/Samples.Server.Tests.csproj
  tests/Transports.Subscriptions.Abstractions.Tests/Transports.Subscriptions.Abstractions.Tests.csproj
  tests/Transports.Subscriptions.WebSockets.Tests/Transports.Subscriptions.WebSockets.Tests.csproj
Labels: enhancement, CI

#674 Make WebSocketConnection.Connect virtual
  src/Transports.Subscriptions.WebSockets/WebSocketConnection.cs
  tests/ApiApprovalTests/GraphQL.Server.Transports.Subscriptions.WebSockets.approved.txt
Labels: enhancement, test

#673 Better Dispose pattern for WebSocketConnection
  src/Transports.Subscriptions.WebSockets/GraphQLWebSocketsMiddleware.cs
  src/Transports.Subscriptions.WebSockets/WebSocketConnection.cs
  tests/ApiApprovalTests/GraphQL.Server.Transports.Subscriptions.WebSockets.approved.txt
Labels: bugfix, test

#681 Add tests for properties marked with attribute
  tests/Authorization.AspNetCore.Tests/AuthorizationValidationRuleTests.cs
Labels: test

#569 Deserialization updates
  .github/workflows/test.yml
  GraphQL.Server.sln
  src/Transports.AspNetCore.NewtonsoftJson/GraphQLRequestDeserializer.cs
  src/Transports.AspNetCore.NewtonsoftJson/InternalGraphQLRequest.cs
  src/Transports.AspNetCore.SystemTextJson/GraphQLRequestDeserializer.cs
  src/Transports.Subscriptions.Abstractions/Transports.Subscriptions.Abstractions.csproj
  tests/Transports.AspNetCore.Tests/NewtonsoftJsonTests.cs
  tests/Transports.AspNetCore.Tests/SystemTextJsonTests.cs
  tests/Transports.AspNetCore.Tests/TestHttpRequest.cs
  tests/Transports.AspNetCore.Tests/Transports.AspNetCore.Tests.csproj
Labels: enhancement, CI, test

#675 Multi-TFM approvals
  .github/labeler.yml
  tests/ApiApprovalTests/ApiApprovalTests.cs
  tests/ApiApprovalTests/ApiApprovalTests.csproj
Labels: CI, test

#677 Dispose all subscriptions when connection broken
  src/Transports.Subscriptions.Abstractions/IServerOperations.cs
  src/Transports.Subscriptions.Abstractions/ISubscriptionManager.cs
  src/Transports.Subscriptions.Abstractions/Subscription.cs
  src/Transports.Subscriptions.Abstractions/SubscriptionManager.cs
  src/Transports.Subscriptions.Abstractions/SubscriptionServer.cs
  src/Transports.Subscriptions.WebSockets/WebSocketConnection.cs
  tests/ApiApprovalTests/GraphQL.Server.Transports.Subscriptions.Abstractions.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.Subscriptions.WebSockets.approved.txt
Labels: test

#689 Auto approve API
  tests/ApiApprovalTests/ApiApprovalTests.cs
Labels: enhancement, test

#676 Authorize only actual operation + Added authorization for VariableReference fields
  samples/Samples.Server/Startup.cs
  samples/Samples.Server/StartupWithRouting.cs
  src/All/All.csproj
  src/Authorization.AspNetCore/AuthorizationValidationRule.cs
  src/Core/BasicGraphQLExecuter.cs
  src/Core/Core.csproj
  src/Core/DefaultGraphQLExecuter.cs
  src/Core/GraphQLOptions.cs
  src/Transports.AspNetCore.NewtonsoftJson/Transports.AspNetCore.NewtonsoftJson.csproj
  src/Transports.AspNetCore.SystemTextJson/Transports.AspNetCore.SystemTextJson.csproj
  src/Transports.AspNetCore/Extensions/GraphQLBuilderUserContextExtensions.cs
  src/Transports.Subscriptions.Abstractions/Transports.Subscriptions.Abstractions.csproj
  tests/ApiApprovalTests/GraphQL.Server.Authorization.AspNetCore.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Core.approved.txt
  tests/Samples.Server.Tests/ResponseTests.cs
Labels: BREAKING, bugfix, CI, test

#691 Provide service provider to subscription execution
  src/Transports.Subscriptions.Abstractions/SubscriptionManager.cs
  src/Transports.Subscriptions.WebSockets/WebSocketConnectionFactory.cs
  tests/ApiApprovalTests/GraphQL.Server.Transports.Subscriptions.Abstractions.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.Subscriptions.WebSockets.approved.txt
Labels: bugfix, test
