Repository graphql-dotnet/server, pull requests merged in 2022-05, with the labels that each got.

#780 Small rename
  tests/Authorization.AspNetCore.Tests/ValidationTestBase.cs
  tests/Authorization.AspNetCore.Tests/ValidationTestConfig.cs
Labels: code style

#779 Restrict UI to only GET requests
  src/Ui.Altair/Extensions/AltairApplicationBuilderExtensions.cs
  src/Ui.Altair/Extensions/AltairEndpointRouteBuilderExtensions.cs
  src/Ui.GraphiQL/Extensions/GraphiQLApplicationBuilderExtensions.cs
  src/Ui.GraphiQL/Extensions/GraphiQLEndpointRouteBuilderExtensions.cs
  src/Ui.Playground/Extensions/PlaygroundApplicationBuilderExtensions.cs
  src/Ui.Playground/Extensions/PlaygroundEndpointRouteBuilderExtensions.cs
  src/Ui.Voyager/Extensions/VoyagerApplicationBuilderExtensions.cs
  src/Ui.Voyager/Extensions/VoyagerEndpointRouteBuilderExtensions.cs
Labels: enhancement

#785 Serialize extensions in tests and only non-null values
  tests/Samples.Server.Tests/Serializer.cs
Labels: test

#789 Ignore GraphQL dependency for dependabot
  .github/dependabot.yml
Labels: dependencies, CI

#791 Support APQ middleware; return BadRequest for any validation error
  Directory.Build.props
  samples/Samples.Server/Samples.Server.csproj
  samples/Samples.Server/Startup.cs
  samples/Samples.Server/StartupWithRouting.cs
  src/All/All.csproj
  src/Authorization.AspNetCore/Authorization.AspNetCore.csproj
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  src/Transports.AspNetCore/Transports.AspNetCore.csproj
  src/Transports.Subscriptions.Abstractions/Transports.Subscriptions.Abstractions.csproj
  tests/Samples.Server.Tests/ResponseTests.cs
Labels: enhancement, test

#774 Update middleware with options and new design
  Directory.Build.props
  samples/Samples.Server/GraphQLHttpMiddlewareWithLogs.cs
  samples/Samples.Server/Startup.cs
  samples/Samples.Server/StartupWithRouting.cs
  src/Transports.AspNetCore/AuthorizationHelper.cs
  src/Transports.AspNetCore/AuthorizationParameters.cs
  src/Transports.AspNetCore/Errors/AccessDeniedError.cs
  src/Transports.AspNetCore/Errors/BatchedRequestsNotSupportedError.cs
  src/Transports.AspNetCore/Errors/HttpMethodValidationError.cs
  src/Transports.AspNetCore/Errors/InvalidContentTypeError.cs
  src/Transports.AspNetCore/Errors/JsonInvalidError.cs
  src/Transports.AspNetCore/Errors/WebSocketSubProtocolNotSupportedError.cs
  src/Transports.AspNetCore/Extensions/GraphQLBuilderMiddlewareExtensions.cs
  src/Transports.AspNetCore/Extensions/GraphQLBuilderUserContextExtensions.cs
  src/Transports.AspNetCore/Extensions/GraphQLHttpApplicationBuilderExtensions.cs
  src/Transports.AspNetCore/Extensions/GraphQLHttpEndpointRouteBuilderExtensions.cs
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  src/Transports.AspNetCore/GraphQLHttpMiddlewareOptions.cs
  src/Transports.AspNetCore/GraphQLRequestExecutionResult.cs
  src/Transports.AspNetCore/HttpGetValidationRule.cs
  src/Transports.AspNetCore/HttpPostValidationRule.cs
  src/Transports.AspNetCore/IUserContextBuilder.cs
  src/Transports.AspNetCore/MediaTypes.cs
  src/Transports.AspNetCore/UserContextBuilder.cs
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.approved.txt
  tests/Samples.Server.Tests/BaseTest.cs
  tests/Samples.Server.Tests/ResponseTests.cs
Labels: enhancement

#801 Use Equals instead of StartsWithSegments
  src/Transports.AspNetCore/Extensions/GraphQLHttpApplicationBuilderExtensions.cs
Labels: enhancement

#798 Support application/graphql+json media type
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.approved.txt
Labels: enhancement

#799 Add WebSocket support to IUserContextBuilder
  src/Transports.AspNetCore/Extensions/GraphQLBuilderUserContextExtensions.cs
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  src/Transports.AspNetCore/IUserContextBuilder.cs
  src/Transports.AspNetCore/UserContextBuilder.cs
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.approved.txt
Labels: BREAKING, new API

#802 WebSocket options prep
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  src/Transports.AspNetCore/GraphQLHttpMiddlewareOptions.cs
  src/Transports.AspNetCore/IWebSocketHandler.cs
  src/Transports.AspNetCore/WebSockets/GraphQLWebSocketOptions.cs
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.approved.txt
Labels: enhancement

#805 Add ReusableMemoryReaderStream class
  src/Transports.AspNetCore/WebSockets/ReusableMemoryReaderStream.cs
Labels: performance

#808 Add AsyncMessagePump class for WebSocket support
  src/Transports.AspNetCore/WebSockets/AsyncMessagePump.cs
Labels: subscriptions

#807 Add interfaces for WebSocket connections
  src/Transports.AspNetCore/Extensions/GraphQLBuilderUserContextExtensions.cs
  src/Transports.AspNetCore/WebSockets/IOperationMessageProcessor.cs
  src/Transports.AspNetCore/WebSockets/IWebSocketAuthenticationService.cs
  src/Transports.AspNetCore/WebSockets/IWebSocketConnection.cs
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.approved.txt
Labels: subscriptions

#806 Add SubscriptionList class for WebSocket support
  src/Transports.AspNetCore/WebSockets/SubscriptionList.cs
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.approved.txt
Labels: subscriptions
