Repository graphql-dotnet/server, pull requests merged in 2022-06, with the labels that each got.

#809 Add WebSocketConnection implementation
  src/Transports.AspNetCore/WebSockets/GraphQLWebSocketOptions.cs
  src/Transports.AspNetCore/WebSockets/WebSocketConnection.cs
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.approved.txt
Labels: subscriptions

#814 Don't process incoming messages after requesting close
  src/Transports.AspNetCore/WebSockets/IWebSocketConnection.cs
  src/Transports.AspNetCore/WebSockets/WebSocketConnection.cs
Labels: subscriptions

#816 Remove unused variable from InvokeAsync
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
Labels: code style

#815 Split POST parsing into separate method
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.approved.txt
Labels: enhancement

#817 Fix noisy warning
  tests/Samples.Server.Tests/Serializer.cs
Labels: code style, test

#810 Add subscription servers for GraphQL and SubscriptionsTransportWs protocols
  src/Transports.AspNetCore/AuthorizationHelper.cs
  src/Transports.AspNetCore/AuthorizationParameters.cs
  src/Transports.AspNetCore/GraphQLHttpMiddlewareOptions.cs
  src/Transports.AspNetCore/IAuthorizationOptions.cs
  src/Transports.AspNetCore/WebSockets/BaseSubscriptionServer.Observer.cs
  src/Transports.AspNetCore/WebSockets/BaseSubscriptionServer.cs
  src/Transports.AspNetCore/WebSockets/GraphQLWs/MessageType.cs
  src/Transports.AspNetCore/WebSockets/GraphQLWs/SubscriptionServer.cs
  src/Transports.AspNetCore/WebSockets/SubscriptionsTransportWs/MessageType.cs
  src/Transports.AspNetCore/WebSockets/SubscriptionsTransportWs/SubscriptionServer.cs
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.approved.txt
Labels: subscriptions

#826 No WebSocket handling for UI middleware
  src/Ui.Altair/Extensions/AltairApplicationBuilderExtensions.cs
  src/Ui.GraphiQL/Extensions/GraphiQLApplicationBuilderExtensions.cs
  src/Ui.Playground/Extensions/PlaygroundApplicationBuilderExtensions.cs
  src/Ui.Voyager/Extensions/VoyagerApplicationBuilderExtensions.cs
Labels: enhancement, subscriptions

#824 Remove old subscription code
  GraphQL.Server.sln
  samples/Samples.Schemas.Chat/ChatSubscriptions.cs
  samples/Samples.Schemas.Chat/Samples.Schemas.Chat.csproj
  samples/Samples.Server/Samples.Server.csproj
  samples/Samples.Server/Startup.cs
  samples/Samples.Server/StartupWithRouting.cs
  src/All/All.csproj
  src/Transports.Subscriptions.Abstractions/IMessageTransport.cs
  src/Transports.Subscriptions.Abstractions/IOperationMessageListener.cs
  src/Transports.Subscriptions.Abstractions/IReaderPipeline.cs
  src/Transports.Subscriptions.Abstractions/IServerOperations.cs
  src/Transports.Subscriptions.Abstractions/ISubscriptionManager.cs
  src/Transports.Subscriptions.Abstractions/IWriterPipeline.cs
  src/Transports.Subscriptions.Abstractions/Internal/ResultHelper.cs
  src/Transports.Subscriptions.Abstractions/LogMessagesListener.cs
  src/Transports.Subscriptions.Abstractions/MessageHandlingContext.cs
  src/Transports.Subscriptions.Abstractions/MessageType.cs
  src/Transports.Subscriptions.Abstractions/ProtocolMessageListener.cs
  src/Transports.Subscriptions.Abstractions/Subscription.cs
  src/Transports.Subscriptions.Abstractions/SubscriptionManager.cs
  src/Transports.Subscriptions.Abstractions/SubscriptionServer.cs
  src/Transports.Subscriptions.Abstractions/Transports.Subscriptions.Abstractions.csproj
  src/Transports.Subscriptions.WebSockets/Extensions/GraphQLBuilderWebSocketsExtensions.cs
  src/Transports.Subscriptions.WebSockets/Extensions/GraphQLWebSocketsApplicationBuilderExtensions.cs
  src/Transports.Subscriptions.WebSockets/Extensions/GraphQLWebSocketsEndpointRouteBuilderExtensions.cs
  src/Transports.Subscriptions.WebSockets/GraphQLWebSocketsMiddleware.cs
  src/Transports.Subscriptions.WebSockets/IWebSocketConnectionFactory.cs
  src/Transports.Subscriptions.WebSockets/Transports.Subscriptions.WebSockets.csproj
  src/Transports.Subscriptions.WebSockets/WebSocketConnection.cs
  src/Transports.Subscriptions.WebSockets/WebSocketConnectionFactory.cs
  src/Transports.Subscriptions.WebSockets/WebSocketReaderPipeline.cs
  src/Transports.Subscriptions.WebSockets/WebSocketTransport.cs
  src/Transports.Subscriptions.WebSockets/WebSocketWriterPipeline.cs
  src/Transports.Subscriptions.WebSockets/WebsocketWriterStream.cs
  tests/ApiApprovalTests/ApiApprovalTests.cs
  tests/ApiApprovalTests/ApiApprovalTests.csproj
  tests/Transports.Subscriptions.Abstractions.Tests/NoopServiceScopeFactory.cs
  tests/Transports.Subscriptions.Abstractions.Tests/OperationMessageCollectorListener.cs
  tests/Transports.Subscriptions.Abstractions.Tests/ProtocolHandlerFacts.cs
  tests/Transports.Subscriptions.Abstractions.Tests/SchemaDocumentExecuter.cs
  tests/Transports.Subscriptions.Abstractions.Tests/Specs/ChatSpec.cs
  tests/Transports.Subscriptions.Abstractions.Tests/SubscriptionFacts.cs
  tests/Transports.Subscriptions.Abstractions.Tests/SubscriptionManagerFacts.cs
  tests/Transports.Subscriptions.Abstractions.Tests/SubscriptionServerFacts.cs
  tests/Transports.Subscriptions.Abstractions.Tests/TestableServerOperations.cs
  tests/Transports.Subscriptions.Abstractions.Tests/TestableSubscriptionTransport.cs
  tests/Transports.Subscriptions.Abstractions.Tests/Transports.Subscriptions.Abstractions.Tests.csproj
  tests/Transports.Subscriptions.WebSockets.Tests/TestStartup.cs
  tests/Transports.Subscriptions.WebSockets.Tests/TestWebSocket.cs
  tests/Transports.Subscriptions.WebSockets.Tests/Transports.Subscriptions.WebSockets.Tests.csproj
  tests/Transports.Subscriptions.WebSockets.Tests/WebSocketWriterPipelineTests.cs
  tests/Transports.Subscriptions.WebSockets.Tests/WebSocketsConnectionFacts.cs
Labels: test

#829 Update LICENSE.md
  LICENSE.md
Labels: documentation

#831 Update readme
  README.md
  tests/ApiApprovalTests/GraphQL.Server.Transports.Subscriptions.Abstractions.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.Subscriptions.WebSockets.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.WebSockets.approved.txt
Labels: documentation
