Repository graphql-dotnet/server, pull requests merged in 2022-09, with the labels that each got.

#914 Add note regarding ASP.NET Core 2.1 support policy
  README.md
Labels: documentation

#918 Change default response content type to match draft spec
  README.md
  docs/migration/migration7.md
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  tests/Samples.Tests/TestServerExtensions.cs
  tests/Transports.AspNetCore.Tests/ShouldlyExtensions.cs
  tests/Transports.AspNetCore.Tests/TestServerExtensions.cs
Labels: documentation

#919 Select return content type based on Accept header
  README.md
  docs/migration/migration7.md
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  src/Transports.AspNetCore/GraphQLHttpMiddlewareOptions.cs
  tests/ApiApprovalTests/net5+netcoreapp31/GraphQL.Server.Transports.AspNetCore.approved.txt
  tests/ApiApprovalTests/netcoreapp21+netstandard20/GraphQL.Server.Transports.AspNetCore.approved.txt
  tests/Transports.AspNetCore.Tests/Middleware/GetTests.cs
  tests/Transports.AspNetCore.Tests/ShouldlyExtensions.cs
Labels: enhancement

#923 Update response content type for `ExecutionResultActionResult`
  src/Transports.AspNetCore/ExecutionResultActionResult.cs
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  tests/Transports.AspNetCore.Tests/ExecutionResultActionResultTests.cs
  tests/Transports.AspNetCore.Tests/TestServerExtensions.cs
Labels: bugfix

#929 Web socket authentication example constructor now matches class name
  README.md
Labels: documentation

#931 Saves a bit memory allocations on common path
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  src/Transports.AspNetCore/GraphQLHttpMiddlewareOptions.cs
Labels: performance

#933 Update migration7.md
  docs/migration/migration7.md
Labels: documentation

#934 Fix labeler
  .github/labeler.yml
Labels: CI

#937 Fix some typos
  README.md
  docs/migration/migration7.md
  samples/Samples.Jwt/JwtHelper.cs
  src/Transports.AspNetCore/WebSockets/AsyncMessagePump.cs
  tests/Samples.Complex.Tests/BaseTest.cs
Labels: documentation

#910 Enable analyzers and consolidate project settings for samples and tests
  Directory.Build.props
  Directory.Build.targets
  GraphQL.Server.sln
  README.md
  Tests.props
  samples/Directory.Build.props
  samples/Samples.Complex/CustomErrorInfoProvider.cs
  samples/Samples.Net48/Startup.cs
  samples/Samples.Schemas.Chat/Samples.Schemas.Chat.csproj
  samples/Samples.Schemas.Chat/Services/Chat.cs
  tests/ApiApprovalTests/ApiApprovalTests.cs
  tests/Authorization.AspNetCore.Tests/ValidationTestConfig.cs
  tests/Transports.AspNetCore.Tests/AuthorizationHelperTests.cs
  tests/Transports.AspNetCore.Tests/Middleware/AuthorizationTests.cs
  tests/Transports.AspNetCore.Tests/Middleware/Cors/EndpointTests.cs
  tests/Transports.AspNetCore.Tests/WebSockets/AsyncMessagePumpTests.cs
  tests/Transports.AspNetCore.Tests/WebSockets/ReusableMemoryReaderStreamTests.cs
  tests/Transports.AspNetCore.Tests/WebSockets/WebSocketConnectionTests.cs
  tests/Transports.AspNetCore.Tests/WebSockets/WebSocketWriterStreamTests.cs
Labels: code style, CI, test
