Repository graphql-dotnet/server, pull requests merged in 2022-07, with the labels that each got.

#843 Add ExecutionResultActionResult
  src/Transports.AspNetCore/ExecutionResultActionResult.cs
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  tests/ApiApprovalTests/net5+netcoreapp31/GraphQL.Server.Transports.AspNetCore.approved.txt
  tests/ApiApprovalTests/netcoreapp21+netstandard20/GraphQL.Server.Transports.AspNetCore.approved.txt
Labels: enhancement, new API

#847 Add override for VisitOperationDefinitionAsync
  src/Transports.AspNetCore/AuthorizationVisitorBase.GetRecursivelyReferencedUsedFragments.cs
Labels: performance

#850 Add GraphQL.DataLoader to metapackage
  src/All/All.csproj
Labels: dependencies

#851 Support .NET 4.8 for UI packages
  src/Ui.Altair/Extensions/AltairEndpointRouteBuilderExtensions.cs
  src/Ui.Altair/Internal/AltairPageModel.cs
  src/Ui.Altair/Ui.Altair.csproj
  src/Ui.GraphiQL/Extensions/GraphiQLEndpointRouteBuilderExtensions.cs
  src/Ui.GraphiQL/Internal/GraphiQLPageModel.cs
  src/Ui.GraphiQL/Ui.GraphiQL.csproj
  src/Ui.Playground/Extensions/PlaygroundEndpointRouteBuilderExtensions.cs
  src/Ui.Playground/Internal/PlaygroundPageModel.cs
  src/Ui.Playground/Ui.Playground.csproj
  src/Ui.Voyager/Extensions/VoyagerEndpointRouteBuilderExtensions.cs
  src/Ui.Voyager/Internal/VoyagerPageModel.cs
  src/Ui.Voyager/Ui.Voyager.csproj
  tests/ApiApprovalTests/netcoreapp31/GraphQL.Server.Ui.Altair.approved.txt
  tests/ApiApprovalTests/netcoreapp31/GraphQL.Server.Ui.GraphiQL.approved.txt
  tests/ApiApprovalTests/netcoreapp31/GraphQL.Server.Ui.Playground.approved.txt
  tests/ApiApprovalTests/netcoreapp31/GraphQL.Server.Ui.Voyager.approved.txt
  tests/ApiApprovalTests/netstandard20/GraphQL.Server.Ui.Altair.approved.txt
  tests/ApiApprovalTests/netstandard20/GraphQL.Server.Ui.GraphiQL.approved.txt
  tests/ApiApprovalTests/netstandard20/GraphQL.Server.Ui.Playground.approved.txt
  tests/ApiApprovalTests/netstandard20/GraphQL.Server.Ui.Voyager.approved.txt
Labels: enhancement

#852 Simplify .NET 4.8 sample
  samples/Samples.Net48/Pages/Ui/GraphQL.cshtml
  samples/Samples.Net48/Pages/Ui/GraphQL.cshtml.cs
  samples/Samples.Net48/Samples.Net48.csproj
  samples/Samples.Net48/Startup.cs
Labels: documentation

#853 Support absolute and relative URLs
  samples/Samples.Complex/Startup.cs
  samples/Samples.Complex/StartupWithRouting.cs
  samples/Samples.MultipleSchemas/Pages/Index.cshtml
  samples/Samples.MultipleSchemas/Program.cs
  src/Ui.Altair/AltairOptions.cs
  src/Ui.Altair/Internal/AltairPageModel.cs
  src/Ui.Altair/Internal/altair.cshtml
  src/Ui.GraphiQL/GraphiQLOptions.cs
  src/Ui.GraphiQL/Internal/GraphiQLPageModel.cs
  src/Ui.GraphiQL/Internal/graphiql.cshtml
  src/Ui.GraphiQL/RequestCredentials.cs
  src/Ui.Playground/Internal/PlaygroundPageModel.cs
  src/Ui.Playground/Internal/playground.cshtml
  src/Ui.Playground/PlaygroundOptions.cs
  src/Ui.Playground/RequestCredentials.cs
  src/Ui.Voyager/Internal/VoyagerPageModel.cs
  src/Ui.Voyager/Internal/voyager.cshtml
  src/Ui.Voyager/RequestCredentials.cs
  src/Ui.Voyager/VoyagerOptions.cs
  tests/ApiApprovalTests/netcoreapp31/GraphQL.Server.Ui.Altair.approved.txt
  tests/ApiApprovalTests/netcoreapp31/GraphQL.Server.Ui.GraphiQL.approved.txt
  tests/ApiApprovalTests/netcoreapp31/GraphQL.Server.Ui.Playground.approved.txt
  tests/ApiApprovalTests/netcoreapp31/GraphQL.Server.Ui.Voyager.approved.txt
  tests/ApiApprovalTests/netstandard20/GraphQL.Server.Ui.Altair.approved.txt
  tests/ApiApprovalTests/netstandard20/GraphQL.Server.Ui.GraphiQL.approved.txt
  tests/ApiApprovalTests/netstandard20/GraphQL.Server.Ui.Playground.approved.txt
  tests/ApiApprovalTests/netstandard20/GraphQL.Server.Ui.Voyager.approved.txt
  tests/Samples.MultipleSchemas.Tests/EndToEndTests.cs
Labels: enhancement

#855 Add underlying support for AWS AppSync subscription variant
  src/Transports.AspNetCore/WebSockets/BaseSubscriptionServer.cs
  tests/ApiApprovalTests/net5+netcoreapp31/GraphQL.Server.Transports.AspNetCore.approved.txt
  tests/ApiApprovalTests/netcoreapp21+netstandard20/GraphQL.Server.Transports.AspNetCore.approved.txt
  tests/Transports.AspNetCore.Tests/WebSockets/BaseSubscriptionServerTests.cs
Labels: subscriptions, test

#860 Rename AddAuthorization to AddAuthorizationRule
  samples/Samples.Authorization/Program.cs
  src/Transports.AspNetCore/Extensions/GraphQLBuilderExtensions.cs
  tests/ApiApprovalTests/net5+netcoreapp31/GraphQL.Server.Transports.AspNetCore.approved.txt
  tests/ApiApprovalTests/netcoreapp21+netstandard20/GraphQL.Server.Transports.AspNetCore.approved.txt
  tests/Transports.AspNetCore.Tests/AuthorizationTests.cs
Labels: test

#857 Update target framework for All metapackage
  src/All/All.csproj
Labels: dependencies

#862 Change order of UI extension method arguments
  samples/Samples.Authorization/Program.cs
  samples/Samples.Basic/Program.cs
  samples/Samples.Complex/Startup.cs
  samples/Samples.Complex/StartupWithRouting.cs
  samples/Samples.MultipleSchemas/Program.cs
  samples/Samples.Net48/Startup.cs
  src/Ui.Altair/Extensions/AltairApplicationBuilderExtensions.cs
  src/Ui.Altair/Extensions/AltairEndpointRouteBuilderExtensions.cs
  src/Ui.GraphiQL/Extensions/GraphiQLApplicationBuilderExtensions.cs
  src/Ui.GraphiQL/Extensions/GraphiQLEndpointRouteBuilderExtensions.cs
  src/Ui.Playground/Extensions/PlaygroundApplicationBuilderExtensions.cs
  src/Ui.Playground/Extensions/PlaygroundEndpointRouteBuilderExtensions.cs
  src/Ui.Voyager/Extensions/VoyagerApplicationBuilderExtensions.cs
  src/Ui.Voyager/Extensions/VoyagerEndpointRouteBuilderExtensions.cs
  tests/ApiApprovalTests/netcoreapp31/GraphQL.Server.Ui.Altair.approved.txt
  tests/ApiApprovalTests/netcoreapp31/GraphQL.Server.Ui.GraphiQL.approved.txt
  tests/ApiApprovalTests/netcoreapp31/GraphQL.Server.Ui.Playground.approved.txt
  tests/ApiApprovalTests/netcoreapp31/GraphQL.Server.Ui.Voyager.approved.txt
  tests/ApiApprovalTests/netstandard20/GraphQL.Server.Ui.Altair.approved.txt
  tests/ApiApprovalTests/netstandard20/GraphQL.Server.Ui.GraphiQL.approved.txt
  tests/ApiApprovalTests/netstandard20/GraphQL.Server.Ui.Playground.approved.txt
  tests/ApiApprovalTests/netstandard20/GraphQL.Server.Ui.Voyager.approved.txt
Labels: code style

#865 Add dummydisposer comment
  src/Transports.AspNetCore/WebSockets/BaseSubscriptionServer.cs
Labels: documentation

#867 Update README.md
  README.md
Labels: documentation

#869 Rename badge labels
  README.md
Labels: documentation

#871 Fix intermittent issue with tests
  tests/Transports.AspNetCore.Tests/ChatTests.cs
  tests/Transports.AspNetCore.Tests/TestServerExtensions.cs
Labels: test

#870 Additional incoming message optimization
  src/Transports.AspNetCore/WebSockets/WebSocketConnection.cs
  tests/Transports.AspNetCore.Tests/WebSockets/WebSocketConnectionTests.cs
Labels: performance, test

#875 Prevent double UserContext initialization
  Directory.Build.props
  samples/Samples.Complex/GraphQLHttpMiddlewareWithLogs.cs
  src/Transports.AspNetCore/Extensions/GraphQLBuilderExtensions.cs
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  src/Transports.AspNetCore/IUserContextBuilder.cs
  src/Transports.AspNetCore/UserContextBuilder.cs
  tests/ApiApprovalTests/net5+netcoreapp31/GraphQL.Server.Transports.AspNetCore.approved.txt
  tests/ApiApprovalTests/netcoreapp21+netstandard20/GraphQL.Server.Transports.AspNetCore.approved.txt
  tests/Transports.AspNetCore.Tests/BuilderMethodTests.cs
  tests/Transports.AspNetCore.Tests/UserContextBuilderTests.cs
Labels: enhancement, performance

#877 Return 405 Method Not Allowed for invalid request types
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  tests/Transports.AspNetCore.Tests/Middleware/GetTests.cs
  tests/Transports.AspNetCore.Tests/Middleware/PostTests.cs
Labels: enhancement

#881 Add Altair subscription payload
  docs/migration/migration7.md
  samples/Samples.Complex/Startup.cs
  samples/Samples.Complex/StartupWithRouting.cs
  src/Ui.Altair/AltairOptions.cs
  src/Ui.Altair/Internal/AltairPageModel.cs
  src/Ui.Altair/Internal/altair.cshtml
  tests/ApiApprovalTests/netcoreapp31/GraphQL.Server.Ui.Altair.approved.txt
  tests/ApiApprovalTests/netstandard20/GraphQL.Server.Ui.Altair.approved.txt
Labels: enhancement, new API

#882 Remove benchmarks project
  GraphQL.Server.sln
  src/Benchmarks/Benchmarks.csproj
  src/Benchmarks/Benchmarks/DeserializeFromJsonBodyBenchmark.cs
  src/Benchmarks/Benchmarks/DeserializeInputsFromJsonBenchmark.cs
  src/Benchmarks/Program.cs
  src/Benchmarks/SchemaIntrospection.cs
Labels: performance

#883 Add upgrade warning to readme
  README.md
  docs/migration/migration7.md
Labels: documentation
