Repository graphql-dotnet/server, pull requests merged in 2022-03, with the labels that each got.

#741 Support non utf-8 charsets
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  tests/Samples.Server.Tests/ResponseTests.cs
Labels: enhancement, test

#746 Add support for input extensions; light refactoring
  src/Core/BasicGraphQLExecuter.cs
  src/Core/DefaultGraphQLExecuter.cs
  src/Core/IGraphQLExecuter.cs
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  src/Transports.Subscriptions.Abstractions/SubscriptionManager.cs
  tests/ApiApprovalTests/GraphQL.Server.Core.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.approved.txt
  tests/Transports.Subscriptions.Abstractions.Tests/ProtocolHandlerFacts.cs
  tests/Transports.Subscriptions.Abstractions.Tests/SubscriptionManagerFacts.cs
  tests/Transports.Subscriptions.Abstractions.Tests/SubscriptionServerFacts.cs
Labels: enhancement, test

#744 CI changes
  .github/workflows/test.yml
  Tests.props
Labels: CI

#752 Restrict acceptable GraphQL.NET versions to v4
  src/All/All.csproj
  src/Core/Core.csproj
  src/Transports.Subscriptions.Abstractions/Transports.Subscriptions.Abstractions.csproj
Labels: enhancement, dependencies

#753 Fix batched results with a single request
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.approved.txt
  tests/Samples.Server.Tests/ResponseTests.cs
Labels: bugfix, test

#754 Wrap subscription exceptions passed along via OnError
  src/Transports.Subscriptions.Abstractions/Subscription.cs
Labels: enhancement

#756 Bump GraphQL
  samples/Samples.Schemas.Chat/ChatSubscriptions.cs
  samples/Samples.Server/Samples.Server.csproj
  src/All/All.csproj
  src/Authorization.AspNetCore/Authorization.AspNetCore.csproj
  src/Benchmarks/Benchmarks.csproj
  src/Core/Core.csproj
  src/Transports.Subscriptions.Abstractions/Transports.Subscriptions.Abstractions.csproj
  tests/Transports.AspNetCore.Tests/Transports.AspNetCore.Tests.csproj
  tests/Transports.Subscriptions.Abstractions.Tests/Transports.Subscriptions.Abstractions.Tests.csproj
  tests/Transports.Subscriptions.WebSockets.Tests/Transports.Subscriptions.WebSockets.Tests.csproj
Labels: dependencies
