Repository graphql-dotnet/server, pull requests merged in 2022-02, with the labels that each got.

#711 customizable authorization error messages
  samples/Samples.Server/CustomErrorInfoProvider.cs
  samples/Samples.Server/Startup.cs
  src/Authorization.AspNetCore/AuthorizationError.cs
  src/Authorization.AspNetCore/AuthorizationValidationRule.cs
  src/Authorization.AspNetCore/DefaultAuthorizationErrorMessageBuilder.cs
  src/Authorization.AspNetCore/GraphQLBuilderAuthorizationExtensions.cs
  src/Authorization.AspNetCore/IAuthorizationErrorMessageBuilder.cs
  tests/ApiApprovalTests/GraphQL.Server.Authorization.AspNetCore.approved.txt
  tests/Authorization.AspNetCore.Tests/ValidationTestBase.cs
Labels: enhancement

#714 Update parser
  .editorconfig
  samples/Samples.Server/Samples.Server.csproj
  src/All/All.csproj
  src/Authorization.AspNetCore/AuthorizationError.cs
  src/Authorization.AspNetCore/AuthorizationValidationRule.cs
  src/Authorization.AspNetCore/DefaultAuthorizationErrorMessageBuilder.cs
  src/Authorization.AspNetCore/IAuthorizationErrorMessageBuilder.cs
  src/Benchmarks/Benchmarks/DeserializeFromJsonBodyBenchmark.cs
  src/Core/Core.csproj
  src/Transports.AspNetCore.NewtonsoftJson/GraphQLRequestDeserializer.cs
  src/Transports.AspNetCore.NewtonsoftJson/Transports.AspNetCore.NewtonsoftJson.csproj
  src/Transports.AspNetCore.SystemTextJson/GraphQLRequestDeserializer.cs
  src/Transports.AspNetCore.SystemTextJson/Transports.AspNetCore.SystemTextJson.csproj
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  src/Transports.Subscriptions.Abstractions/JObjectExtensions.cs
  src/Transports.Subscriptions.Abstractions/SubscriptionManager.cs
  src/Transports.Subscriptions.Abstractions/Transports.Subscriptions.Abstractions.csproj
  src/Transports.Subscriptions.WebSockets/WebSocketConnectionFactory.cs
  src/Transports.Subscriptions.WebSockets/WebSocketTransport.cs
  src/Transports.Subscriptions.WebSockets/WebSocketWriterPipeline.cs
  tests/ApiApprovalTests/GraphQL.Server.Authorization.AspNetCore.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.Subscriptions.WebSockets.approved.txt
  tests/Authorization.AspNetCore.Tests/ValidationTestBase.cs
  tests/Samples.Server.Tests/DITest.cs
  tests/Samples.Server.Tests/ResponseTests.cs
  tests/Samples.Server.Tests/StringExtensions.cs
  tests/Transports.Subscriptions.WebSockets.Tests/Transports.Subscriptions.WebSockets.Tests.csproj
  tests/Transports.Subscriptions.WebSockets.Tests/WebSocketWriterPipelineTests.cs
Labels: code style, performance, test

#719 Separate errors within http middleware to protected methods
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.approved.txt
  tests/Samples.Server.Tests/ResponseTests.cs
Labels: enhancement, test

#727 Add serialization packages into metapackage
  samples/Samples.Server/GraphQLHttpMiddlewareWithLogs.cs
  samples/Samples.Server/StartupWithRouting.cs
  src/All/All.csproj
Labels: enhancement

#730 Fix AddDefaultEndpointSelectorPolicy
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  samples/Samples.Server/Samples.Server.csproj
  src/All/All.csproj
  src/Benchmarks/Benchmarks.csproj
  src/Core/Core.csproj
  src/Transports.AspNetCore/Extensions/GraphQLBuilderUserContextExtensions.cs
  src/Transports.Subscriptions.Abstractions/Transports.Subscriptions.Abstractions.csproj
  tests/Transports.AspNetCore.Tests/Transports.AspNetCore.Tests.csproj
  tests/Transports.Subscriptions.Abstractions.Tests/Transports.Subscriptions.Abstractions.Tests.csproj
  tests/Transports.Subscriptions.WebSockets.Tests/Transports.Subscriptions.WebSockets.Tests.csproj
Labels: bugfix, CI

#735 Introduce GraphQLHttpMiddleware.HandleRequest and switch to IMiddleware
  README.md
  samples/Samples.Server/GraphQLHttpMiddlewareWithLogs.cs
  samples/Samples.Server/Startup.cs
  samples/Samples.Server/StartupWithRouting.cs
  src/Transports.AspNetCore/Extensions/GraphQLBuilderMiddlewareExtensions.cs
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  src/Transports.Subscriptions.WebSockets/Extensions/GraphQLBuilderWebSocketsExtensions.cs
  src/Transports.Subscriptions.WebSockets/GraphQLWebSocketsMiddleware.cs
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.Subscriptions.WebSockets.approved.txt
  tests/Transports.Subscriptions.WebSockets.Tests/TestStartup.cs
Labels: enhancement

#738 Invoke virtual
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  src/Transports.Subscriptions.WebSockets/GraphQLWebSocketsMiddleware.cs
  tests/ApiApprovalTests/GraphQL.Server.Transports.AspNetCore.approved.txt
  tests/ApiApprovalTests/GraphQL.Server.Transports.Subscriptions.WebSockets.approved.txt
Labels: enhancement
