Repository graphql-dotnet/server, pull requests merged in 2023-04, with the labels that each got.

#1012 Add contributors in readme
  README.md
Labels: documentation

#1013 Fix numbering in README.md
  README.md
Labels: documentation

#1017 Allow option to disable handling of form data for POST requests
  README.md
  src/Transports.AspNetCore/GraphQLHttpMiddleware.cs
  src/Transports.AspNetCore/GraphQLHttpMiddlewareOptions.cs
  tests/ApiApprovalTests/net50+net60+netcoreapp31/GraphQL.Server.Transports.AspNetCore.approved.txt
  tests/ApiApprovalTests/netcoreapp21+netstandard20/GraphQL.Server.Transports.AspNetCore.approved.txt
  tests/Transports.AspNetCore.Tests/Middleware/PostTests.cs
Labels: enhancement, documentation, test

#1018 Bump build number of GraphQL version
  Directory.Build.props
Labels: dependencies

#1021 Raw string literals
  tests/Authorization.AspNetCore.Tests/AuthorizationValidationRuleTests.cs
  tests/Samples.Authorization.Tests/EndToEndTests.cs
  tests/Samples.AzureFunctions.Tests/EndToEndTests.cs
  tests/Samples.Complex.Tests/ResponseTests.cs
  tests/Samples.Jwt.Tests/EndToEndTests.cs
  tests/Samples.MultipleSchemas.Tests/EndToEndTests.cs
  tests/Samples.Tests/ServerTests.cs
  tests/Samples.Tests/TestServerExtensions.cs
  tests/Transports.AspNetCore.Tests/AuthorizationTests.cs
  tests/Transports.AspNetCore.Tests/BuilderMethodTests.cs
  tests/Transports.AspNetCore.Tests/ChatTests.cs
  tests/Transports.AspNetCore.Tests/ExecutionResultActionResultTests.cs
  tests/Transports.AspNetCore.Tests/Middleware/AuthorizationTests.cs
  tests/Transports.AspNetCore.Tests/Middleware/BatchTests.cs
  tests/Transports.AspNetCore.Tests/Middleware/Cors/EndpointTests.cs
  tests/Transports.AspNetCore.Tests/Middleware/Cors/MiddlewareTests.cs
  tests/Transports.AspNetCore.Tests/Middleware/FileUploadTests.cs
  tests/Transports.AspNetCore.Tests/Middleware/GetTests.cs
  tests/Transports.AspNetCore.Tests/Middleware/MiscTests.cs
  tests/Transports.AspNetCore.Tests/Middleware/PostTests.cs
  tests/Transports.AspNetCore.Tests/TestServerExtensions.cs
Labels: test

#1023 Bump Shouldly
  Tests.props
  tests/Samples.Net48.Tests/Samples.Net48.Tests.csproj
  tests/Samples.Tests/Samples.Tests.csproj
  tests/Transports.AspNetCore.Tests/Transports.AspNetCore.Tests.csproj
Labels: test
